* {
  font-family: system-ui, 'Segoe UI', Tahoma, sans-serif;
  font-weight: 500;
}

.icon-offline {
  content: -webkit-image-set(
      url(../images/default_100_percent/offline/100-error-offline.png) 1x,
      url(../images/default_200_percent/offline/200-error-offline.png) 2x);
  position: relative;
}
/* Transition day night */
.offline {
  transition: filter 1.5s cubic-bezier(0.65, 0.05, 0.36, 1),
              background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.offline body {
  transition: background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
/* Night color */
.offline.inverted {
  background-color: #dcdfdb; /* --google-gray-900 inverted value */
  filter: invert(1);
}

.offline.inverted body {
  background-color: #dfdedb;
}
/* Position */
.offline .interstitial-wrapper {
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  position: relative;
  width: 100%;
}

.offline .runner-container {
  direction: ltr;
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 44px;
}
/* Stop outline */
.offline .runner-container:focus-visible {
  outline: none;
}
/* Stop everything to a pear */
#offline-resources {
  display: none;
}

/* Stop da butt on from a pear ring */
.slow-speed-option {
  display: none;
}
/* Control big window */
.arcade-mode .runner-canvas {
  image-rendering: pixelated;
}

.arcade-mode #main-content {
  opacity: 0;
}

.arcade-mode .interstitial-wrapper {
  height: 100vh;
  max-width: 100%;
}
/* Transition */
.arcade-mode .runner-container {
  left: 0;
  margin: auto;
  right: 0;
  transform-origin: top center;
  transition: transform 250ms cubic-bezier(0.4, 0, 1, 1) 400ms;
}
